* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(237, 232, 232);
}
.first{
    width: 100%;
    background-image: url(./images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    text-align: center;
    padding: 70px 0px 100px 0px;
}
.cece{
    height: 50px;
}
.two{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}
.two p{
    color: hsl(210, 10%, 33%);
    width: 37vw;
}

.three{
    display: flex;
    gap: 10px;
}
.pin1{
    border-radius: 15px;
    padding: 8px;
    width: 12vw;
    border-style: none;
    outline: none;
    color: hsl(210, 10%, 33%);
    background-color: rgb(30, 177, 128);
    color: white;
}
.pin{
    border-radius: 15px;
    padding: 8px;
    width: 12vw;
    border-style: none;
    outline: none;
    color: hsl(210, 10%, 33%);
    background-color: rgb(96, 68, 221);
    color: white;
}
.second{
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: center;
   gap: 15px;
}
.second p{
    width: 43vw;
    color: hsl(210, 10%, 33%);
}
.third{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.comp{
    height: 300px;
   
}
.sece3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.ab{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: hsl(210, 10%, 33%);
    gap: 10px;
    margin-top: 40px;
    
}
.ab h3{
    display: flex;
    justify-content: left;
    color: rgb(30, 29, 29);
}
.forth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}
.second h3{
    color:black;
}
.device{
    height: 300px;
}
.deck{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deck p{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: hsl(210, 10%, 33%);
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}
.deck h3{
     color: black;
}
.fifth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.super{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.super h3{
    color: black;
}
.pat{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}
.CB{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.CB p{
    text-align: center;
}
.PT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px; 
}
.PT p{
    text-align: center;
}
.SP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px; 
}
.SP{
    text-align: center;
}
.sixth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.pics{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.pics img{
    height: 40px;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}
.last p{
    width: 44vw;
    text-align: center;
    color: hsl(210, 10%, 33%);
}
.seventh{
    color: hsl(210, 10%, 33%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 95px;
    padding: 25px;
}
.seventh img{
    height: 50px;
}
.rest{
    display: flex;
    gap: 25px;
}
.rest img{
    height: 20px;
}
.attribution{
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media screen and (max-width:950px) {
    .first{
        width: 100%;
        flex-direction: column;
    }
    .two p{
        width: 69vw;
    }
    .two h2{
        width: 55vw;
    }
    .three{
        flex-direction: column;
        gap: 20px;
    }
    .pin1{
        width: 55vw;
    }
    .pin{
        width: 55vw;
    }
    .third{
        flex-direction: column;
    }
    .ab{
        align-items: center;
        text-align: center;
    }
    .super h3{
        font-size: 30px;
        width: 60vw;
    }
    .pics{
        flex-direction: column;
    }
    .second h3{
          font-size: 25px;
          width: 60VW;
    }
    .second p{
        font-size: 20px;
        width: 85vw;
    }
    .ab h3{
        text-align: center;
    }
    .deck h3{
        font-size: 30px;
        text-align: center;
        width: 70vw;
    }
    .deck p{
        font-size: 25px;
        width: 100vw;
    }
    .pat{
        flex-direction: column;
        gap: 50px;
    }
    .pat p{
        font-size: 25px;
        width: 110vw;
    }
    .last p{
        width: 90vw;
    }
    .CB p{
        width: 80vw;
    }
    .PT p{
        width: 80vw;
    }
    .SP p{
        width: 80vw;
    }
    .seventh{
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0px;
          text-align: center;
          gap: 25px;
    }
    .seventh div{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .rest{
        flex-direction: row;
    }
    .rest img{
        height: 20px;
    }
    .comp{
        height: 250px;
    }
    .device{
        height: 250px;
    }    
}   

